<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.test.Infrastructure.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.example.test.Domain.Entity.Teacher">
            <id property="tno" column="tNo" jdbcType="CHAR"/>
            <result property="tname" column="tName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        tNo,tName
    </sql>

    <select id="selectByPrimaryKey" parameterType="String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from teacher
        where  tNo = #{tno,jdbcType=CHAR} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="String">
        delete from teacher
        where  tNo = #{tno,jdbcType=CHAR} 
    </delete>
    <insert id="insert"  parameterType="com.example.test.Domain.Entity.Teacher" useGeneratedKeys="true">
        insert into teacher
        (tName)
        values (#{tname,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.example.test.Domain.Entity.Teacher" useGeneratedKeys="true">
        insert into teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="tname != null">tName,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="tname != null">#{tname,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.test.Domain.Entity.Teacher">
        update teacher
        <set>
                <if test="tname != null">
                    tName = #{tname,jdbcType=VARCHAR},
                </if>
        </set>
        where   tNo = #{tno,jdbcType=CHAR} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.test.Domain.Entity.Teacher">
        update teacher
        set 
            tName =  #{tname,jdbcType=VARCHAR}
        where   tNo = #{tno,jdbcType=CHAR} 
    </update>
</mapper>
